<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Expense Tracker - Budgets</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
  <!-- HEADING -->
  <div class="row m-4">
    <div class="col text-center" id="headerSection">
      <h1>Expense Tracker</h1>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navSection">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <!-- Add other navigation links as needed -->
      </ul>
    </div>
  </nav>

  <!-- Budgets Table -->
  <div class="row m-4">
    <div class="col">
      <h2>Budgets</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Category</th>
          <th>Customer</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of budgets and display their information -->
        <tr th:each="budget : ${budgets}">
          <td th:text="${budget.amount}"></td>
          <td th:text="${budget.category.name}"></td>
          <td th:text="${budget.customer.firstName + ' ' + budget.customer.lastName}"></td>
          <td>
            <a th:href="@{/edit/{budgetId}(budgetId=${budget.budgetId})}">Edit</a>
            <a th:href="@{/delete/{budgetId}(budgetId=${budget.budgetId})}">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <a th:href="@{/add}">Add New Budget</a>
    </div>
  </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
